.fonts{
  font-family: 'Fredericka the Great', cursive;
  color:white;
}
header{
  margin-top:2rem;
  font-size: 32px;
}
ul li{
  margin-left: 8%;
  list-style-type: none;
  float:left;
  margin-right: 2rem;
}
.div{
  font-family: 'Fredericka the Great', cursive;
}
