<header class="background">
    <h1 class="headline">Vorbereitung für die Abschlussprüfung</h1>
    <img class="icon" alt="slogan" src="../../../assets/icon.png" style="padding-top: 2rem">
</header>
<nav class="navbar navbar-dark bg-dark">
  <button
    appBtnListener class="col-5 col-sm-1 col-md-2 col-lg-2 mb-sm-2 mt-1 btn btn-secondary"
    type="submit" (click)="toReview()">
    Übersicht
  </button>
  <button
    appBtnListener class="col-5 col-sm-1 col-md-2 col-lg-2 mb-sm-2 mt-1 btn btn-secondary"
    type="submit" (click)="toBusinessAdministration()">
    Betriebswirtschaftlehre
  </button>
  <button
    appBtnListener class="col-5 col-sm-1 col-md-2 col-lg-2 mb-sm-2 mt-1 btn btn-secondary"
    type="submit" (click)="toCommonPart()">
    Allgemeiner Teil
  </button>
  <button
    appBtnListener class="col-5 col-sm-1 col-md-2 col-lg-2 mb-sm-2 mt-1 btn btn-secondary"
    type="submit" (click)="toSystemIntegrationPart()">
    Systemintegration
  </button>
  <button
    appBtnListener class="col-5 col-sm-1 col-md-2 col-lg-2 mb-sm-2 mt-1 btn btn-secondary"
    type="submit" (click)="toDevelopmentPart()">
    Anwendungsentwicklung
  </button>
</nav>

